{
    "presets": ["env", "react", "flow"],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        }
    },
    "plugins":  [
        "transform-flow-strip-types",
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-react-jsx-source"
    ]
}
